
.DS_Store
backup/libs/closetCleaner.lua
backup/libs/Modes.lua
backup/libs/Mote-documentation.txt
backup/libs/Mote-Globals.lua
backup/libs/Mote-Include.lua
backup/libs/Mote-Mappings.lua
backup/libs/Mote-SelfCommands.lua
backup/libs/Mote-TreasureHunter.lua
backup/libs/Mote-Utility.lua
backup/libs/organizer-lib.lua
backup/libs/rev1/Modes.lua
backup/libs/rev1/Mote-documentation.txt
backup/libs/rev1/Mote-Globals.lua
backup/libs/rev1/Mote-Include.lua
backup/libs/rev1/Mote-Mappings.lua
backup/libs/rev1/Mote-SelfCommands.lua
backup/libs/rev1/Mote-TreasureHunter.lua
backup/libs/rev1/Mote-Utility.lua
backup/libs/rev1/README.md
backup/libs/Sel-Display.lua
backup/libs/Sel-GlobalItems.lua
backup/libs/Sel-Include.lua
backup/libs/Sel-Mappings.lua
backup/libs/Sel-MonsterAbilities.lua
backup/libs/Sel-SelfCommands.lua
backup/libs/Sel-Stahp.lua
backup/libs/Sel-TreasureHunter.lua
backup/libs/Sel-Utility.lua
backup/libs/Snaps-RngHelper.lua
backup/libs/Snaps-Rnghelper_Config.lua
backup/libs/Snaps-RngHelper_Settings.xml
beta_examples_and_information/Advanced sets tables.txt
beta_examples_and_information/Byrth_BLM.lua
beta_examples_and_information/Byrth_BRD.lua
beta_examples_and_information/Byrth_DNC.lua
beta_examples_and_information/Byrth_GEO.lua
beta_examples_and_information/Byrth_MNK.lua
beta_examples_and_information/Byrth_PLD.lua
beta_examples_and_information/Byrth_SMN.lua
beta_examples_and_information/Byrth_THF.lua
beta_examples_and_information/Byrth_WAR.lua
beta_examples_and_information/Snprphnx_SCH.lua
beta_examples_and_information/Variables.xlsx
data/Acestalker/Acestalker-Globals.lua
data/Acestalker/Acestalker-Items.lua
data/Acestalker/Acestalker_Blm_Gear.lua
data/Acestalker/Acestalker_Brd_Gear.lua
data/Acestalker/Acestalker_Bst_Gear.lua
data/Acestalker/Acestalker_Cor_Gear.lua
data/Acestalker/Acestalker_Crafting.lua
data/Acestalker/Acestalker_Dnc_Gear.lua
data/Acestalker/Acestalker_Drg_Gear.lua
data/Acestalker/Acestalker_Drk_Gear.lua
data/Acestalker/Acestalker_Geo_Gear.lua
data/Acestalker/Acestalker_Mnk_Gear.lua
data/Acestalker/Acestalker_Nin_Gear.lua
data/Acestalker/Acestalker_Pld_Gear.lua
data/Acestalker/Acestalker_Pup_Gear.lua
data/Acestalker/Acestalker_Rng_Gear.lua
data/Acestalker/Acestalker_Sam_Gear.lua
data/Acestalker/Acestalker_Sch_Gear.lua
data/Acestalker/Acestalker_Smn_Gear.lua
data/Acestalker/Acestalker_Thf_Gear.lua
data/Acestalker/Acestalker_War_Gear.lua
data/Acestalker/Acestalker_Whm_Gear.lua
data/Acestalker/Areitho_Blu_Gear.lua
data/Acestalker/Areitho_Rdm_Gear.lua
data/Acestalker/Areitho_Run_Gear.lua
data/Acestalker/Rename.bat
data/Areitho/Areitho-Globals.lua
data/Areitho/Areitho-Items.lua
data/Areitho/Areitho_Blu_Gear.lua
data/Areitho/Areitho_Geo_Gear.lua
data/Areitho/Areitho_Rdm_Gear.lua
data/Areitho/Areitho_Run_Gear.lua
data/Areitho/Areitho_Sch_Gear.lua
data/Areitho/Areitho_Smn_Gear.lua
data/Areitho/Areitho_Whm_Gear.lua
data/Areitho/Rename.bat
data/Areitho/Selindrile_Blm_Gear.lua
data/Areitho/Selindrile_Brd_Gear.lua
data/Areitho/Selindrile_Bst_Gear.lua
data/Areitho/Selindrile_Cor_Gear.lua
data/Areitho/Selindrile_Crafting.lua
data/Areitho/Selindrile_Dnc_Gear.lua
data/Areitho/Selindrile_Drg_Gear.lua
data/Areitho/Selindrile_Drk_Gear.lua
data/Areitho/Selindrile_Mnk_Gear.lua
data/Areitho/Selindrile_Nin_Gear.lua
data/Areitho/Selindrile_Pld_Gear.lua
data/Areitho/Selindrile_Pup_Gear.lua
data/Areitho/Selindrile_Rng_Gear.lua
data/Areitho/Selindrile_Sam_Gear.lua
data/Areitho/Selindrile_Thf_Gear.lua
data/Areitho/Selindrile_War_Gear.lua
desktop.ini
data/Cheat Sheet.txt
data/common/Place Non-Sel Gearswaps Here.txt
data/common/Zeni.txt
data/Instructions.txt
data/Halfanegg/Rename.bat
equip_processing.lua
export.lua
flow.lua
gearswap.lua
helper_functions.lua
packet_parsing.lua
README.md
refresh.lua
scripts/Zeni_Macro_.txt
statics.lua
targets.lua
triggers.lua
user_functions.lua
validate.lua
version_history.txt
